/*首页 内容 */                                                                                                                              
#content-inner{ margin-left: 250px; width: 485px}                                                                                           
h1.blocktitle{text-indent:1em; font-size:14px; height:42px;background: url("../images/textlisttitle.gif") no-repeat; line-height: 27px;font-weight:700;}                                                                                                                                
a.more{ float: right;font-size:12px; color:#000;font-weight:400; padding:14px 40px}                                                         
.textlist{ overflow: auto;*margin-top:14px}                                                                                                 
.textlist ul{ margin:10px; overflow: auto;font-size:12px;}                                                                                  
.textlist ul li{background: url("../images/blackpoint.gif") no-repeat 0 15px;text-indent:1em;}                                          
.textlist ul li a{ color:#4F4D50; line-height: 2.8em;  }                                                                                    
.textlist h3{background: url("../images/toptitle20110805.gif") no-repeat; width:239px; height:33px; margin-top:10px;}                       
.textlist h3 .more{ padding:10px 30px}  
#imbooktitle img{ display: block;}                                                                                              
.imbookcontent{border: 1px solid #D2D2D2; padding: 10px 0}                                                                                  
.imbookcontent li{ margin:0 20px 0; line-height:30px;}                                                                                      
.imbookcontent li a{ padding: 0 10px; font-size: 12px; color:#000; text-decoration:underline}                                               
.imglist ul{ overflow: auto; margin-bottom: 10px;background: url("../images/bookstore.gif") no-repeat; width:375px; padding:0 40px 30px;}   
.imglist ul li{ float: left;display: inline; height: 168px;margin: 32px 15px 0;}                                                          
.imglist ul li img{ margin: 0 8px 0 0 }                                                                                                     
.imglist ul li a{ display: block;margin:0 0 8px 0; color:#FF5500;text-decoration: none;}                                                    
.imglist ul li a img{ margin-bottom: 14px; }                                                                                                
.imglist h1.blocktitle{background: url("../images/imglisttitle.gif") no-repeat;height:42px;}                                                
#footer{padding: 0 0 50px}     

/*修正IE*/
#sidebar-first-inner{*margin: 0; width: 210px;} 
#main{*overflow: auto;_height:1260px; _overflow: hidden;}     