*{ padding:0px; list-style-type:none; margin:0px auto; font-size: 12px; font-weight: normal; color: #4b4b4a;font-family:Arial}

#header #main-menu #main-menu-links li a {font-size:16px;font-family:Arial;}
