/* 数字出版网络产品*/
#content-inner{ width:730px; margin-left: 240px}
.productlist{ overflow: auto; line-height:28px;}
.producttitle{ height:48px; background:url(../images/producttitle.gif) no-repeat; color:#FFF; text-indent:1.7em; font-size:18px;line-height:36px; margin:24px 0 0;}
.productlist li{padding: 25px 0; overflow: auto; font-size: 12px;_zoom:1;*height:144px}
.productlist li h2{  margin:0}
.productlist li h2 a{font-size:14px; color:#50646D;}
.productlist li a{color: #288DDB;}
.productlist li p{color: #999;line-height:1.4em; margin: 0;}
.productlist li img{ float: left; margin:0 15px 0 15px;}
.productlist li.column{ width: 98%;}
.productlist li.column2{ margin:0 0 0 2px; width: 48%;}
.more{ float:right; padding-right:20px;font-size:12px; font-weight:400; color:#005A8F;}

/* 数字出版电子产品 */
.digital .column2 h2{ background:url(../images/digitalicon.gif) no-repeat 0 8px;text-indent:1em; float:left; margin-bottom:12px}
.digital .column2 h2 a{ color:#D97F33; font-size:20px}
.digital li {*height:240px;}
.digital li p{ width:174px; background:#EEFAFA; padding:10px; float:left;color:#51656E;line-height:2em;*width:154px;}
.productshow{ border:1px solid #D0D0D0;clear:both; overflow:auto; margin:0 8px;*height:94px}
.digital li .productshow img{ float:left; margin:10px 0 10px 14px; }
.digital li img { margin-bottom:20px;}

.article{ margin:20px;}

