span.stico_tqq{	background-position:0 -592px;}
#share{border: 1px solid #ddd; width: 195px; margin-left:10px; height: 30px; margin-top: 10px}
#share span{font-weight:700;font-size: 12px;display: block;line-height: 34px; float: left; padding-left: 6px;}
#share a{ display: block;float:left; margin: 6px 3px 0;}
