#field-candidate-id-add-more-wrapper{display:none;}
#edit-field-listening .form-item{display:none;}
#edit-field-reading-writing .form-item{display:none;}
#edit-field-speaking .form-item{display:none;}
/* #edit-field-pic-zh-hans-0-remove-button{display:none;} */
/* #edit-field-pic-und-0-upload-button{display:none;}  */
