/* 产品页面*/
.clearfix:after{clear:none}
#content-inner{ width:700px; margin-left: 240px}
.page-products .imglist h2{ float: left; margin:3px 4px 0 6px;display: inline;margin:1px 4px 0 6px\9;*margin:8px 0 0 1px;}
.page-products .tab{ border-bottom: 0;}
.page-products .imglist{ margin-top: 17px;}
.imglist h2{ margin:20px 0 0 10px}
.imglist .imglistcontent{ border: 1px solid #BCBCBC; *zoom:1}
.imglist .imglistcontent ul{ overflow: auto}
.imglist .imglistcontent ul li{ float: left;width:120px; margin:20px 0 0 43px; font-size: 12px;line-height: 1.4em; display: inline;}
.imglist .imglistcontent ul li a{ display: block;margin:0 0 14px 0; color: #0D7DC4}
.imglist .imglistcontent ul li a img{ margin-bottom: 10px;}
.tab_title{text-indent:1em; font-size:14px; height: 40px;background: url("../images/zysiderbarbg20110726.gif") repeat-x; line-height: 40px;border: 1px solid #BCBCBC; margin: 10px 0 0}
.tab_title li{float: left;padding: 0 20px;text-indent:0; font-weight:700;}
.tab_title li a{ color: #404040;font-weight:400;}
.tab_title li a.a{ color: #DD0108; font-weight:700;}
.productlist{ margin-bottom: 20px}
.productlist li{border-bottom: 1px dashed #CCCCCC;font-size: 12px;line-height: 24px;margin: 0;padding: 20px 0; width: 100%; overflow: auto}
.productlist li.views-row-last{ border: none;}
.productlist li img{ float: left; margin: 0 30px 0 4px }
.productlist li h2{ margin-bottom:0; font-size:14px; }
.productlist li h2 a{ color: #CB6300} 
.productlist li span{color:#646464}
.productlist li span em{ color:#DD0108}
.productlist li p{ padding-right: 80px;}
.productlist .buy .b{ background: url("../images/zybuy.gif") no-repeat; padding: 8px 40px;}
.tab{ border-bottom: 1px solid #999;overflow: auto;*height:46px}
.tab img{ margin: 10px; float: left; display: block;}
.tab ul li{ float: left;background: url("../images/tableft.gif") no-repeat left 0; padding:8px 0 5px 7px;margin: 4px 0 0 1px;font-size:12px;*+margin: 21px 0 0 3px;_margin: 19px 0 0 3px; }
.tab ul li a{background: url("../images/tabright.gif") no-repeat right 0; padding: 9px 7px 5px 0; color: #404040;padding:8px 7px 5px 0\9;*padding: 8px 7px 5px 0;}
.tab ul li a.active{ color: #DD0108; font-weight:700;}
/* 三级图书内容 bookinfo*/

.bookimg{padding:15px; border: 1px solid #ddd; float: left; margin: 10px 40px 10px 10px;display: inline;}
.bookimg img{ width:140px;height:200px}
#bookinfo h1{margin: 24px 10px 5px 15px;}
#bookinfo p{ font-size: 12px; color: #505050; margin: 1.6em 0 0 0;}
#bookinfo .bookcontent,#bookinfo .bookdirectory{ margin: 10px 10px 10px 10px; line-height: 26px; border-top:3px solid #d5d5d5;border-bottom:1px dashed #d5d5d5; padding:30px 20px; font-size: 12px;}
#bookinfo .bookcontent p,#bookinfo .bookdirectory p{ margin:6px 0;}
#main{ overflow: auto}
/* 分页*/
.item-list .pager li{margin:0;}
