#Products{
        width:192px;
        height:310px;
}

#f_l{
        width:192px;
        height:90px;
        float:left;
}

#Microblogging{
       float:left;
       margin-top:10px;
       width:192px;
       height:555px;
}    

