/*首页 内容 */

#content-inner{ margin-left: 236px; width: 486px}
h1.blocktitle{text-indent:1em; font-size:14px; height:27px;background: url("../images/textlisttitle20110809.jpg") no-repeat; line-height: 27px;font-weight:700;}
a.more{ float: right;font-size:12px; color:#E27A27;font-weight:400; padding-right: 10px}
.textlist{ overflow: auto;*margin-top:14px}
.textlist ul{ margin:20px; overflow: auto;font-size:12px;}
.textlist ul li{background: url("/fltrp/images/blackpoint.gif") no-repeat 0 12px;text-indent:.5em;}
.textlist ul li a{ color:#4F4D50; line-height: 2.2em;  }
.textlist h3{background: url("../images/toptitle20110805.gif") no-repeat; width:239px; height:33px; margin-top:10px;}
.textlist h3 .more{ padding:10px 30px}
.imglist ul{ overflow: auto;}
.imglist ul li{ float: left;width:100px; margin:10px 10px 0; font-size: 12px;line-height: 1.4em; display: inline; color:#666; height:230px}
.imglist ul li img{ margin: 0 8px 0 0 }
.imglist ul li a{ display: block;color:#FF5500;text-decoration: none;}
.imglist .blocktitle a{ color:#FF5500;line-height: 41px; padding-right: 12px;}
.imglist ul li a:hover{ color: #FF5500}
.imglist ul li a img{ margin-bottom: 14px; }
.imglist h1.blocktitle{background: url("../images/xinshukuaidi.gif") no-repeat;height:45px;}
.by h1.blocktitle{background: url("../images/scrolltitle.gif") no-repeat; height:24px}
.by h1.blocktitle a { color: #0C4FA0;line-height: 24px;}
.by ul{ background:#F6F4E8; overflow:auto; border:1px solid #EBEAE6}
.by ul li{ height:200px;}
.by ul li a{color: #0C4FA0;}
.by ul li img{ margin: 0 0 0 8px;}


/* 左侧 sidebar first */
#sidebar-first-inner{background: #4D351B;}
#sidebar-first-inner .slong h3{ height:29px; background:url(../images/leftsidebartitle.gif) no-repeat; margin:0}
.slong{ margin:0 8px 0 8px; font-size:12px;color:#fff; padding:10px 0 0}
.slong li{ border-bottom:1px dashed #6A5540; padding-bottom:20px; margin-top:22px}
.author{ height:72px; background:#6A5540; color:#fff; display:block; padding:0; margin-bottom:20px;}
.author:hover{ text-decoration:none;}
.author img{ float:left; margin-right:10px;}
.slong .author p{text-indent:0; padding-top:6px;line-height:1.2em}
.slong p{ margin:0;line-height:1.8em;text-indent:2em; }

/* 右侧 sidebar-second  */
#sidebar-second .ad{ margin-top:6px;}
.weibotitle{background: url("../images/weibotitle.gif") no-repeat; height:24px; margin:10px 0 0 0; padding:6px 12px}