/*教学资源*/
#content-inner{ width:730px; margin-left: 240px}
.textlist{ overflow: auto;*margin-top:14px}
.textlist ul{ margin:20px; overflow: auto;font-size:14px; padding-top: 30px;}
.textlist ul li{background: url("/fltrp/images/blackpoint.gif") no-repeat 0 17px;text-indent:.8em;}
.textlist ul li a{ color:#000; line-height: 2.6em;  }
.textlist ul li a:hover{ color: #9B1E00}                                                                                                    
.imgbox{ float: left; padding: 10px;margin: 25px 20px 20px 10px; height: 100%;}                                    
.fclear{clear: both;}      
