/* 公用样式 */
body{ background:url("../images/body_bg.jpg") repeat scroll 0 0 transparent; font-size:12px;}
a{ color:#000; font-size:12px;}
a:hover{ color:#39C}
#page{ width:960px; background:#FFF;}
#content-top{ margin:20px 22px; overflow:auto}
/*#content-inner{ float:none;}*/
/* header */
#header{ overflow:auto; *overflow:hidden; *height:130px;}
#logo{display:block; margin:34px 50px 24px;}
.logoNav ul li{ float:left; border-left:2px solid #FFF; padding:0 20px; margin:10px 0 0 -2px;list-style: none;padding:0px;}
.logoNav ul li a{ color:#FFF; font-weight:700; font-size:16px}
.logoNav  ul li a:hover{ color:#CCC}
.logoNavcontent{ width:678px; height:40px; background:url(../images/navbg_black.gif) no-repeat; float:left; margin-left:22px; display:inline;}
.logoNavcontent ul{ overflow:auto; margin-left:60px; _width:620px; overflow:hidden}
.logoNavcontent ul li{ padding:0 30px;}
.userNav{ width:226px;height:40px; background:url(../images/navbg_blue.gif) no-repeat; float:right; margin-right:22px;display:inline;}
.userNav ul{ overflow:auto; margin-left:4px; overflow:hidden; _width:220px;}
.userNav ul li{ padding:0 20px }
/* main 
#content-area{ margin:0 26px;}*/
/* footer */
#footer{text-align:center; margin-top:10px;}


#block-menu-menu-schoolmenu{width:80%;margin:30px 24px;}
#block-menu-menu-schoolmenu ul.menu{list-style:none;overflow:auto;width:100%;}
#block-menu-menu-schoolmenu .menu li.leaf{list-style:none;padding:10px;background:#eee;margin-bottom:10px;border:1px solid #ddd;margin-left:0;}
#block-menu-menu-schoolmenu .menu li a{font-size:16px}
#content-inner{margin:30px 0 0 200px}
#content-inner ul li{margin:0;line-height:2em;font-size:14px;}
#content-inner ul li div{padding-left:4px;}
#content-area .views-exposed-form .views-exposed-widget .form-submit{margin-top:0;}
#content-area input{padding:2px 4px;}
#views-exposed-form-baoming-school label{font-size:14px;float:left;margin-right:6px;margin-top:4px;}
.views-widget{float:left;margin-top:2px;}
.view-filters{margin-bottom:10px;}
table.views-table th{font-size:14px;background:#ddd;padding:10px;border:1px solid #ccc}
table.views-table td{font-size:14px;padding:10px;border:1px solid #DDD}

/*登录*/
#block-user-login{width:80%;margin:30px 24px;}
#block-user-login input{width:10em;padding:2px 4px;;}
#block-user-login .item-list li{float:left;margin:0 10px 10px 0;}
#block-user-login .item-list li a{color:#fc2012}


/*报名*/
#block-menu-menu-applicant-menu{width:80%;margin:30px 24px;}
#block-menu-menu-applicant-menu .item-list{list-style:none;}
#block-menu-menu-applicant-menu .item-list li{float:left;margin:0 10px 10px 0;}
#block-menu-menu-applicant-menu .item-list li a{color:#fc2012}
#block-menu-menu-applicant-menu .menu li.leaf{list-style:none;padding:10px;background:#eee;margin-bottom:10px;border:1px solid #ddd;margin-left:0;}
