/* 新概念*/
#content-inner{ margin-left: 253px;width:700px}
.imgblock{width:599px;margin:auto}
.imgone{margin-top:50px;}

.jieshao{margin-top:50px;}
.jieshao ul{}
.jieshao li{line-height:1.8em;color:#0F7F01;font-size:12px;text-indent:2em;}
.jieshao p{font-size:12px;line-height:1.6em;margin:0 20px;}