#focus{
       width:565px;
       height:305px;
     
}

#line_red{
      width:545px;
      height:6px;
}

#news{
      width:545px;
      height:200px;
}

#line_03 {
      width:545px;
      height:5px;
}

#banner_3{
     width:555px;
     height:77px;
     
}

#Categories{
     width:545px;
     height:320px;

}
