/*经销商服务*/
.jxsserver{color:#880000;background:url("/sites/new.fltrp.com/themes/custom/mlp/images/jxsserver.gif") no-repeat 0 1px;text-indent:1.6em; font-size:16px; margin:10px 0}
.jxs span{color:#D58800;font-weight:700; display: block;; float: left}
.jxs span.marc{ margin-left: 250px}
.jxs a{ display: block;float: left; color:#055CAB;font-weight:700}
.jxs p{ border-top: 1px dashed #c1c1c1; padding: 16px 0; line-height: 40px;height: 40px;margin:0}
.jxs p img{ margin-right: 16px;}
.jxs p font{ font-size: 12px; line-height: 20px}
#content-inner{float:none}
#content-header h1.title{text-indent:1.4em;background:url("/sites/new.fltrp.com/files/page_photo/jxsserver.gif") no-repeat 0 2px;color:#870102}
#tbone{border:1px solid #C1C1C1}
#tbone tbody{border:0;vertical-align:middle}
#tbone td{border-color:#C1C1C1;vertical-align:middle;text-align:center;padding:12px 0}
#tbone td a{color:#404040;}

