#line_footer_red{float:left;width:958px; height:10px; border-bottom:2px #ce1819 solid; border-left:1px #ce1819 solid; border-right:1px #ce1819 solid;}      
                                                                                                                                                             
#nav_footer{float:left; height:35px; margin-top:10px;}                                                                                                      
                                                                                                                                                             
.td_03 a{font-size:16px;font-family:"����"; color:#406998; text-decoration:none;}                                                                           
                                                                                                                                                             
.td_04{border-right:1px #406998 solid;}                                                                                                                     
                                                                                                                                                             
#links{float:left;width:960px; height:30px; line-height:30px; text-align:center;background:#fff8e6; border-bottom:1px #eaeaea solid; border-top:1px #eaeaea solid; margin-top:15px;}                                                                                                                                     
                                                                                                                                                             
#Contact_me{float:left; width:960px; text-align:center; line-height:20px; margin:15px 0px 15px 0px;}                                 

#footer-wrapper {font-color:black;}

h1#page-title {display:none;}

#name-and-slogan{display:none;} 

#line_03 {border-bottom: 1px dotted #C0C0C0;}
