@charset "utf-8";

/*——————————————————下面是四种页面布局的CSS，使用时取消注释即可——————————————————*/
/*该CSS是使三列、俩列等高的布局样式，不需要时最好注释掉！以防止他影响其他的结构
#main .column{position: relative;padding-bottom: 32767px !important;margin-bottom: -32767px !important; }*/

/* 页面三列左中右布局 
#content{float: left;width:600px;left:200px;position:relative;}
#sidebar-first{float:left;width: 200px;left:-600px;background:#fc2010;}
#sidebar-second{float: right;width: 160px;background:#fc2010;margin-left:-160px;}*/

/* 页面二列左边栏布局 
#content{float: left;background-color: #e5e5e5;width: 760px;left: 200px;position:relative;}
#sidebar-first{float: left;background-color: #7bd;width: 200px;left: -760px;}
#sidebar-second{float: right;background-color: #f63; width:0;}*/

/* 页面二列右边栏布局 
#content{float: left;background-color: #e5e5e5;width:800px;left:0;position:relative;}
#sidebar-first{float: left;background-color: #7bd;}
#sidebar-second{float: right;background-color: #f63; width:160px;margin-left:-160px;}*/

/* 一列布局 */
#content{width:985px;left:0;position:relative;}
#page{background: url("../images/bodybg.jpg") no-repeat scroll center top transparent;}

/*—————————————————— 这里开始每个页面具体的 css 样式 ——————————————————*/
#content-area .fleft,#content-area .fright{ margin:0}
.mainsecond .col3{margin:0;}
.mainsecond .fir{ width:320px; font-size:12px;} 
.mainsecond .thr{ width:208px;margin-top: 14px;} 
.mainsecond .sec{ width:418px;margin-top: 34px;} 
.mainsecond .newslist{overflow:auto;line-height:1.8em;font-size:12px}
.mainsecond .newslist .title{font-weight:700; position:relative}
.mainsecond .newslist ul{overflow:auto;}
.mainsecond .newslist ul li{background: url("../images/blackpoint.gif") no-repeat 12px 12px;text-indent:1.8em;padding:2px 0; margin:0 10px}
.mainsecond .newslist ul li.first a{color:#fc2012}
.more{padding:10px; position:absolute; font-size:12px;font-weight:400;right:20px;}