body { font-size:12px; margin:0;}
#frame_top {width:960px;height:10px;}

#frame_left { float:left; width:260px;height:980px; }

#frame_middle { float:right; width:260px; height:980px;}

#frame_right { margin:0px  274px !important; margin:0px 271px; height:980px;}

