body { font-size:12px; margin:0;}

#frame_left { float:left; width:260px;height:980px; }

#frame_middle { float:right; width:260px; height:980px;}

#frame_right { margin:10px  270px !important; margin:10px 267px; height:980px;}

