body{ font-size:13px; background:#FFF; *letter-spacing:0}
section{ display:block; line-height:1.9em;}
#region-branding .site-name-slogan{margin:18px 0;}
#region-branding .site-name-slogan h2{ font-size:35px; line-height:70px;}
#block-views-video-list-block table{ border:none; margin:0;}
#block-views-video-list-block table td{ border:0; text-align:center; height:132px}
#block-views-video-list-block table td .field-content a{ text-decoration:none;}
#block-views-video-list-block table td .field-content a:hover{ background:red; color:#FFF}
#content-container{ margin-top:30px; border-top:1px solid #CCC; }
#region-content{ width:620px; padding:10px;}
#region-sidebar_second{ padding-left:10px; width:270px;}
#region-content h1{ font-size:23px; line-height:40px;}
#node-article-1 .submitted{ color:#F60}
#block-user-login .block-title{ font-size:23px; padding-top:20px;}
#woyaotoupiao{ display:block; padding:10px; border:3px solid #F60; width:400px; font-size:16px; text-align:center; background:#F93; color:#FFF; font-weight:700; text-decoration:none}
#block-system-user-menu h2{  font-size:23px; padding-top:20px;}
#block-system-main dd .flag-vote-for-user a{display:block; padding:10px; border:3px solid #F60; width:200px; font-size:16px; text-align:center; background:#F93; color:#FFF; font-weight:700; text-decoration:none; font-style:normal;}
#block-system-main .profile dd{ padding-left:0;}
h3{ line-height:1.7em;}
h2{font-size:23px;}
#zones-below{ padding-top:10px; line-height:1.6em;}
#footer-container{ border-top:3px solid #69F; padding:16px 0;}
#region-footer_first{ margin-left:4px}
#block-block-5 .content p{ font-size:15px; font-weight:700;  margin-top:10px; margin-bottom:10px; color:#6699FF}
#defaultCountdown{color:red;}