/* ======== 首页 ============= */

.fp-news-list li {
	list-style-type:none;
}


/* ============ about us ============= */

.luokuan { 
	float:right  /* 领导签名和职务落款 */
}

#about_article2, #about_article1 {
    float: left;
    margin-bottom: 50px;
    width: 400px;
    font-size:1.2em;
    line-height:1.5em;
}
#about_img1, #about_img2 {
    float: left;
    margin-right: 20px;
    width: 200px;
}

#about_img2 {
    float: right;
    margin-right: 20px;
    width: 200px;
}

#ycc, #lpy {
	clear:both;
	margin-bottom:3em;
}


/* ========== milestone ========= */

#milestones_article h3 {
	font-size: 1.6em;
}

/* ========== aboutus/tour ========= */

.aboutus-tour li {
	list-style-type:none;
	float:left;
	width:220px;
	height:220px;
}

/* ========== /company ========= */
#company_profile_article h3 {
	padding-top:2em;
	font-size:1.6em;
}
/* ========== /sales ========= */
#sales-distribution {
	width:720px;
}

#sales-distribution img{
	width:320px;
	float:right;
	margin-left:3em;
}
/* ========== /contactus ========= */

#contact_us_img img {
	float:right;
}
/* ========== /writing ========= */
#writing {
	width:720px;
}

#writing img{
	width:340px;
	height:160px;
	float:right;
	margin-left:1em;
	margin-bottom:1em;
}
/* ======= 所有内容类型为page的页面，内容与左边栏保持一定距离 ==== */
.content-type-page .node-inner .content {padding-left:2em;}

/* edit by zhao 20110718*/
/* 全局宽度重新定义*/	
#page{ width:99.9%; overflow: auto;}
#footer{ width:90%; padding: 20px; border-top:1px solid #ccc; margin-top:16px; }
#footer a{ color: #890000}
.panel-separator{ clear: both}
/* header 上面的 logo */
#block-block-11{ height: 95px;}
#block-block-11 .block-inner{background: url("../images/entopbannerbg20110628.gif") no-repeat 500px 40px;}
#block-block-11 img{ margin: 18px; 0 0 25px}
/* header 上面的 nav*/
#nice-menu-1{ background:#890000; width: 100%}
#header-region ul.nice-menu li{ height: 78px; background: none; border:none; border-right: 1px solid #FFF; line-height: 68px; font-weight:700; width:154px;z-index:0}
#header-region ul.nice-menu li a{ color: #FFF;text-indent:.8em; font-size: 14px}
#header-region ul.nice-menu-down li.menuparent{ background: url("arrow-down.png") no-repeat scroll right center;}
#header-region ul.nice-menu-down li li.menuparent{ background: url("arrow-down.png") no-repeat scroll right center #890000;}
#header-region ul.nice-menu-down li.menuparent:hover{ background: url("arrow-down.png") no-repeat scroll right center #890000;}
#header-region ul.nice-menu li ul li{ height: 30px; background: #890000; border: none; line-height: 30px; width: 200px;border-bottom: 1px solid #FFF;z-index:100}
#header-region ul.nice-menu li ul li a{ font-size: 12px;}
#header-region ul.nice-menu li ul{ top:80px; border: 1px solid #FFF;z-index:100}
#header-region ul.nice-menu-down li ul li ul{left:200px}
#fp-slideshow{ margin-top: 2px;}
#cs-buttons-coin_slider{ display: none;}
/* header 上面的  search */
#header-region{ position:relative;z-index:0}
#block-search-form{ height: 28px; background: #DEE9EE; padding-top: 4px}
#block-search-form label.element-invisible{ position: relative!important;}
#search-block-form .form-item-search-block-form{ margin-left: 720px;}
#block-fancy_login-fancy_login_login_block{ position: absolute; top:186px;left:640px; }
#block-fancy_login-fancy_login_login_block a{ display:block;width:60px; height:12px; overflow:hidden;text-indent:-9em;background: url("/sites/en.fltrp.com/files/fatupian/enlogin20110628.gif") no-repeat }
#block-block-14{height: 28px; background: #DEE9EE; padding-top: 4px}
#block-block-14 #search-form{margin-left: 720px;}
#block-block-14 #search-form .form-text{border:1px solid #aaa;padding:2px;color:#999;}
#block-block-14 #search-form .form-submit{margin-left:10px;}
/* 英文网站首页*/
/*	修正样式 */
.page-fp #main{margin:0; width: 100%;}
.page-fp #content-inner{ margin: 0}
#coin-slider-coin_slider,#coin_slider{z-index:-110;position:relative}
	/* 滚动新闻  */
	#fp .fp-news-list-icon{background: url("/sites/en.fltrp.com/files/fatupian/enmicphone20110628.gif") no-repeat; float: left; width: 70px; height: 83px; overflow: hidden;text-indent:-20em; margin: 22px 50px; display: inline;}
	#fp .fp-news-list{padding: 32px 10px; }
	#fp .fp-news-list li {background: url("/sites/en.fltrp.com/files/fatupian/enrightpoint20110628.gif") no-repeat scroll 0 10px transparent;height: 30px;line-height: 30px;overflow: hidden;text-indent: 2em;width: 700px;}
	#fp .fp-news-list li a{ color: #404040;font-weight: 700;}
	/* 五大图片*/
	#fp-img-menu a{display: inline;float: left;height: 135px;margin-left: 14px;width: 176px;}
/* 英文about us...等频道*/
	#sidebar-first{ width: 234px; margin-right: -234px;}
	#main{ margin-top: 23px; width: 980px;}
	#content-inner{ margin-left: 240px;}
	#sidebar-first h3,#sidebar-first .apple_apps,#sidebar-first .tb{width: 224px; height: 26px; line-height: 26px; color: #d62937; font-size: 13px; border: 1px solid #ddd; margin: 18px 0 0 10px;text-indent:1em;font-weight:700;}
	#sidebar-first .textbooks h3{ margin: 0; color: #000; border: none; margin-left: 6px;}
	#sidebar-first .textbooks ul{ margin-top: 0}
	#sidebar-first .textbooks ul li{text-indent:.4em;}
	#sidebar-first .textbooks ul li a{font-weight:400;}
	#sidebar-first .el,
	#sidebar-first .ml{ margin-left:18px; margin-top: 4px;}
	#sidebar-first .el a,
	#sidebar-first .ml a{ color:#000; font-weight:700;}
	#sidebar-first h3 a,#sidebar-first .apple_apps a{color: #d62937; font-weight:700;}	
	#sidebar-first ul{list-style:none; margin-left: 18px; padding-left: 0; margin-top:10px;}
	#sidebar-first ul a{line-height:26px; color: #333;font-weight:700;}
	#content-header .title{ padding-left: 22px;}
/* 产品首页面 sidebar 结构不同*/
	.no-sidebars #content-inner{ margin-left: 0}
	.no-sidebars #sidebar-first{ float: left; margin-right: 30px;}
	#neirong{ float: left; width: 710px}
	.new_products_title,.key_book{width: 700px; height: 33px;line-height:33px ; border: 1px solid #ddd; font-weight:700;text-indent:5em;background: url("/sites/en.fltrp.com/files/fatupian/enfp_new20110718.gif") no-repeat scroll 2px 2px transparent; font-size:15px; margin-top: 36px; margin-bottom: 20px;}
	#neirong table a{ display: block; color: #000}
	#neirong td{ width: 25%;text-align:center; float: left}
	#neirong .our-products img{height:175px; width: 120px;}
	.new_products_title{ position: relative}
	.new_products_title a{ position:absolute; right:20px;color:#D62937!important; font-weight:400;top:2px;font-size:12px; }
/* 产品内容页面 */
	#content .english,.chinese{ padding-left:2em; line-height:2em;}
	#content .page-node-5041 #content-header{ display: none;}
	#content .bookpic{ float: left; margin: 0px 50px 50px 20px}
	#content .bookpic img{ margin-left: 4px;}
	#content .bookinfo{line-height:28px;}
	#content .notice{ padding:10px 20px;margin: 10px 40px 10px 180px;line-height: 20px; font-weight: 700;}
	#content .notice a{ color: #000;text-decoration:underline;}
	#content .book_none_mrelate ul,.book_relate ul{list-style:none; padding: 0; margin: 0; overflow: hidden; }
	#content .book_none_mrelate ul li a,.book_relate ul li a{ display: block}
	#content .book_none_mrelate ul li,.book_relate ul li{ float: left; margin: 30px 28px;text-align: center;width: 110px;}
	#content .bookpart2{ margin: 20px; clear: both; _margin:0}
	#content .english .english_contents_title{ margin: 20px 0;background: url("../images/booktitle20110719.jpg") no-repeat; text-indent:-20em; width: 700px; overflow: hidden;}
	#content .engliash_none,.english_des_content,.engliash_preview a{ padding:10px  20px; color: #404040}
	#content .english .english_des_title,.enfilter_des .enfilter_des_title{ margin: 20px 0; background: url("../images/booktitle20110719.jpg") no-repeat 0 -24px; text-indent:-20em;width: 700px; overflow: hidden;}
	#content .english .engliash_preview_title{ margin: 20px 0; background: url("../images/booktitle20110719.jpg") no-repeat 0 -48px; text-indent:-20em;width: 700px; overflow: hidden;}
	#content .english .english_about_author_title{ margin: 20px 0;background: url("../images/booktitle20110719.jpg") no-repeat 0 -72px; text-indent:-20em;width: 700px; overflow: hidden;}
	#content .english .english_consider_title{ margin: 20px 0;background: url("../images/booktitle20110719.jpg") no-repeat 0 -96px; text-indent:-20em;width: 700px; overflow: hidden;}
	#content .english .english_other_recommendation_title{ margin: 20px 0;background: url("../images/booktitle20110719.jpg") no-repeat 0 -120px; text-indent:-20em;width: 700px; overflow: hidden;}
	#content .chinese .english_contents_title,
	#content .chinese .english_des_title,
	#content .chinese .engliash_preview_title,
	#content .chinese .english_about_author_title,
	#content .chinese .english_consider_title,
	#content .chinese .english_other_recommendation_title
	{ font-weight:700; font-size: 14px; color: #AF1C22; margin: 20px 0}
	
	
/*	#edit-actions--4 input{background: url("../images/buy_03.jpg") no-repeat -4px -54px; width: 140px; height: 42px; border: 0;}*/

/*产品列表*/
	.category1,.category2,.filter_detail{ padding-left: 3em;}
	.category1,.category2{ font-weight: 700; padding: 14px 0; border-bottom: 1px dashed #ccc; line-height: 30px; margin: 0 0 0 3em ;}
	.category1 a,.category2 a{ color: #404040;}
	.category1 div,.category2 div{ display: inline;}
	.category1 div a,.category2 div a{border-left:1px solid #333; padding: 0 10px; background: none; color: #404040}
	.category1 a.active, .category2 a.active{padding: 0 20px; background:#D62937; color: #fff; font-weight:400;}
	.enfilter_img{float: left; margin: 30px 30px 30px 0; width: 100px; height: 140px}
	.enfilter_img input{background:#AE1E1E;border: 2px solid #DDCCCC;color: #FFFFFF;font-weight: 700;padding: 4px;text-align: center;width: 103px;}
	.enfilter_img form .form-wrapper{ margin-top:0}
	.filter_detail{line-height:2.4em;}
	.enfilter_other{ padding: 30px 0 0 0}
	.enfilter_other ul{list-style:none;}
	.enfilter_des .enfilter_des_title{line-height:2em;}
	.filter_detail .view-content .views-row{ border-bottom: 1px dashed #eee; margin-bottom: 20px;padding-bottom: 20px;}
	
/*	APPLE 产品*/
.page-apple #content-area{ margin-left: 20px;}
.page-apple #content-area .views-row{ overflow:auto; border-bottom: 1px dashed #CCCCCC;font-size: 12px;line-height: 24px;margin: 0;padding: 20px 0;width: 726px;}
.page-apple #content-area .views-row h1{font-size:14px;font-weight:700;}
.page-apple #content-area .views-row img{ float: left; margin: 0 18px 30px 0}
.page-apple #content-area .views-row span{ display:  block}
.page-apple #content-area .views-row .field-content a{background: url("../images/buy_20110623.gif") no-repeat scroll -103px 0 transparent;color: #BA0006 !important;padding: 6px 32px;_line-height:26px;_padding:6px 32px}
.apple_price,.apple_url{ float: left;margin:10px 10px 0 0}
.page-apple #content-area .views-row-last{ border: none;}
/*------专为中英切换-----*/
#content-area .node-book .content{position:relative;}
#content-area .node-book .content .fenlei{position:absolute;text-align: center;top: 0;width: 135px;color: #FFF;font-weight:700;background: url("../images/wsssss_03.jpg") no-repeat -134px 0;}
#content-area .node-book .content .english .fenlei{left:46px;}
#content-area .node-book .content .chinese .fenlei{left:180px;}
#content-area .node-book .content .book_content{display:none;padding-top:30px;}
#content-area .node-book .content .book_content.display_this{display:block;}
#content-area .node-book .content .english .on,#content-area .node-book .content .chinese .on{background: url("../images/wsssss_03.jpg") no-repeat 0 0; color: #FFF; font-weight:700;}
#content-area 	.bookpart1{ border-top:3px solid #475F77; padding-top: 20px;}
#content-area 	.bookpart1 input{ border: 2px solid #dcc; padding: 4px; width: 126px; text-align: center; background:#AE1E1E; font-weight:700; color: #FFF;;;}
#content-area 	.node-book .content .book_content{ padding-top: 25px!important;}
/*----end------*/
/* news & event*/
.news{ padding: 30px; font-size: 14px; line-height:2em;}
.submitted{font-style:italic; color:#ccc }
/* srearch */
.page-search-node #content-area{ padding-left: 30px;}
.search-result .title a{color:#AE1E1E; font-size:15px;}
#content-area .search-result{ border-bottom: 1px dashed #EEE; padding-bottom: 10px; margin-bottom: 10px; padding-left: 0!important}
.search-results{ padding-left: 0}


/*------右边栏书目下载-----------*/
.shumu { margin:18px 0 0 10px;      
}
