
/*
隐藏编辑考生报名表单中填写考点信息的form 
因为这个考点的选择是模块算出来的，不是人工手填的
在显示考生报名信息的时候，会显示该信息
*/
   
#edit-field-kaochang {display:block;}
body.page-zkz{
	text-align: center;
}
.region{
    margin: 0 auto;
    text-align: left;
    width: 1240px;
}
#zkzprint .views-row {
    background: url("/sites/ncte.2u4u.com.cn/files/zhunkaozheng/zkzbg2.jpg") no-repeat scroll 0 0 transparent;
    /*
    height: 297mm;
    width: 210mm; */
    height: 1754px;
    width: 1240px; 
    page-break-after: always;
    position: relative;
    font-family:"黑体";
    font-size: 20px;
}


#zkzprint .zkzphoto img{
    height: 280px;
    left: 295px;
    position: absolute;
    top: 420px;
    width: 190px;
}

#zkzprint .zkz-right{
    left: 718px;
    line-height: 60px;
    position: absolute;
    top: 403px;
}

#zkzprint .zkz-right .zkzcontent{
	padding-left: 20px;
}

#zkzprint .zkz-bottom{
    left: 160px;
    position: absolute;
    top: 735px;
}
#zkzprint .zkz-bottom .zkz{
	padding-right: 20px;
}
