.fleft{
	margin: 0 10px 0px 0;
}
/*----------ebook 列表页--------*/
.mobile .view-digital .views-row {
	border-top:1px solid #f2f2f1;
    border-bottom: 1px solid #bfbfbd;
    padding:10px;
    background-image:url(images/arrow.png),-webkit-gradient(linear,0% 0%, 0% 100%, from(#F1F1F1), to(#D7D7D7), color-stop(0.5,#e4e4e4));
    background-repeat: no-repeat,no-repeat;
 	background-position: 96%,left;
 	background-size: 9px 13px,100% 100%;
   
   	clear : both;
    overflow : hidden;
    cursor: pointer;
}

.mobile .view-digital .views-row .price{
	float:right;
	margin: -16px 20px 0 0;
}

.mobile .view-digital .views-row .image img{
	width:60px;
	height:60px;
}

.mobile .view-digital .views-row .description{
	margin-right:65px;
	text-align:justify;

}

@media only screen and (max-device-width: 480px){
	.mobile .view-digital .views-row .price{
		float:right;
		margin: -41px 14px 0 0;
	}
}


