
/* float menu link to vertical align */
#primary li {
	list-style:none;
	float:left;
	margin-right:2em;
	}

.page-shumu .form-item-fenlei-op {
	display:none;
	}

.page-shumu h3 {
	font-size:1em;
	}

/* sometimes the title is too long so the bookcover doesn't align
 use this to adjust */ 
.page-shumu td {
 vertical-align: top;}
